*,
::after,
::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: linear-gradient(to left, black, grey);
}

.calculator-grid {
    display: grid;
    margin-top: 2rem;
    grid-template-columns: repeat(4, 6rem);
    /* defines column width */
    grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
    /* keeps output box size fixed,if a larger number it gets accomodated there  repeat() defines row height*/
}

.span-two {
    grid-column: span 2;
    /* makes the span increased to 2 columns*/
}

.output {
    grid-column: 1/-1;
    /* the top row gets reserved for OUTPUT */
    background-color: rgb(122, 134, 145);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: .75rem;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand {
    color: white;
    font-size: 1.5rem;
}

.output .current-operand {
    font-size: 2.5rem;
}

.calculator-grid>button {
    font-size: 2rem;
    cursor: pointer;
    border: none;
    background-color: rgb(255, 255, 255, .75);
    border: 1px solid white;
}

.calculator-grid>button:hover,
.calculator-grid>button:focus {
    background-color: rgb(255, 255, 255, .9);
}